* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  display: flex;
  width: 360px;
  padding: 16px 16px 8px 16px;
  justify-content: space-between;
  align-items: flex-end;
}
body {
  width: 365px;
  height: 720px;
  border: solid red 1px;
  background-color: #282C33;
}
header {
  display:block;
  justify-content:center;
  align-items: center;
}





#header_ul {
  display: flex;
  list-style: none;
}
#logo {
  display: flex;
  color:#FFF;
  font-family: "Fira Code";
  font-size: 16px;
  font-weight: 700;
}
.logo_header {
  display: flex;
  justify-content: center;
  gap: 8px;
}
h1 {
  font-family: "Fira Code";
  font-size: 32px;
  font-weight: 600;
  color:#FFF;
}
#h1 {
  color: #C778DD;
}
.burger__h1 {
  margin: 40px 16px 0 16px;
}
  /* enabling the burger menu button */
     .burger__body {
        }

p {
  color: var(--gray, #ABB2BF);
font-family: "Fira Code";
font-size: 16px;
font-weight: 400;
}
#p1 {
  margin-top: 25px;
}
.img {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.square {
  border: 2px solid #C778DD;
position: relative;
width: 16px;
height: 16px;
background-color: #C778DD;
}
.burger_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  padding: 8px;
  margin-left: 20px;
  gap: 10px;  
}
#font_white {
  color: white;
}





.burger {
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 8px;
  left: 7px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 27px;
  left: 7px;
}





.burger_menu_mobile {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin: 95px 170px 107px 16px;
  list-style: none;
  color: #ABB2BF;
  font-family: "Fira Code";
  font-size: 32px;
  font-weight: 500;
}
.home_menu {
  color: white;
}
#burger_menu {
  margin-right: 3px;
  color: #C778DD;
}
.burger_menu_translate {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
}
#menu_translate {
  width: 15px;
  height: 8px;
}
.icon_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
